In [12]:
import yfinance as yf
import pandas as pd

stock = yf.download('GOOG', start='2020-01-01', end='2020-12-31')[
    ['Open', 'High', 'Low', 'Close', 'Volume']]
stock.columns
#stock.columns = stock.columns.droplevel(1)

#stock.head()

[*********************100%***********************]  1 of 1 completed

MultiIndex([(  'Open', 'GOOG'),
            (  'High', 'GOOG'),
            (   'Low', 'GOOG'),
            ( 'Close', 'GOOG'),
            ('Volume', 'GOOG')],
           names=['Price', 'Ticker'])

In [14]:
from backtesting.test import GOOG
print(GOOG.columns)
GOOG.head()

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

              Open    High     Low   Close    Volume
2004-08-19  100.00  104.06   95.96  100.34  22351900
2004-08-20  101.01  109.08  100.50  108.31  11428600
2004-08-23  110.75  113.48  109.05  109.40   9137200
2004-08-24  111.24  111.60  103.57  104.87   7631300
2004-08-25  104.96  108.00  103.88  106.00   4598900