In [16]:
import yfinance as yf
import pandas as pd

stock = yf.download('GOOG', start='2020-01-01', end='2020-12-31')[
    ['Open', 'High', 'Low', 'Close', 'Volume']]

stock.columns = stock.columns.droplevel(1)
print(stock.columns)
stock.head()

[*********************100%***********************]  1 of 1 completed

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object', name='Price')

Price            Open       High        Low      Close    Volume
Date
2020-01-02  66.837348  68.162086  66.837348  68.123726  28132000
2020-01-03  67.151713  68.379304  67.036329  67.789421  23728000
2020-01-06  67.258341  69.575014  67.258341  69.460930  34646000
2020-01-07  69.646752  69.898343  69.270099  69.417572  30054000
2020-01-08  69.354806  70.326322  69.293032  69.964622  30560000

In [ ]:
from backtesting.test import GOOG
print(GOOG.columns)
GOOG.head()

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

              Open    High     Low   Close    Volume
2004-08-19  100.00  104.06   95.96  100.34  22351900
2004-08-20  101.01  109.08  100.50  108.31  11428600
2004-08-23  110.75  113.48  109.05  109.40   9137200
2004-08-24  111.24  111.60  103.57  104.87   7631300
2004-08-25  104.96  108.00  103.88  106.00   4598900